//- ./views/dateView.jade
extends ./layout.jade

block title
  title
    if !title
      | Today's Games!
    else
      = title

block content
  div.container
    
    if(games)
      p Games for #{date} (in the #{season} season)
        table.table-bordered.table-hover
          each game in games
            tr
              td #{game.teams[0].awayTeam}
              td at
              td #{game.teams[1].homeTeam}
    else if (error)
      h3 #{error}
    //- #{} is jade interpreter of variables
    //- {{ }} is angular interpreting the data
    
    //include ./partials/dateView.jade